<div class="box">
    <p>ID: <%= benefit[:id] %></p>
    <p>User ID: <%= benefit[:user_id] %></p>
    <p>Bal: <%= benefit[:user_bal] %></p>
    <p>Amount: <%= benefit[:amount] %></p>
    <p>Time: <%= benefit[:time] %></p>
</div>