<%= template("header.ecr") %>
<pre style="display: none;">
<%= grouped_routes.to_pretty_json %>
</pre>
<a href="/users/">
    <div class="box">
        <p>Users</p>
    </div>
</a>
<a href="/ledger/">
    <div class="box">
        <p>Ledger</p>
    </div>
</a>