<%= template("header.ecr") %>
<%= template("pagination.ecr") %>

<%- transactions.each do |transaction| -%>
<%= template("transaction-base.ecr") %>
<%- end -%>

<%- if has_next -%>
<%= template("pagination.ecr") %>
<%- end -%>