<div class="bal">
    <%- if user.has_key? "username" %>
    <p>Username: <%= HTML.escape(user["username"].to_s) %></p>
    <%- end -%>
    <a href="/user/<%= id %>/?usernames"><p>ID: <%= id %></p></a>
    <p>Bal: <%= user["bal"] %></p>
</div>