<%= render "src/views/header.ecr" %>

<div class="bal">
    <%- if user.has_key? "username" %>
    <p>Username: <%= user["username"] %></p>
    <%- end -%>
    <p>ID: <%= id %></p>
    <p>Bal: <%= user["bal"] %></p>
</div>